/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --colors-light-foreground: #25283d;
  --colors-light-alert: #e85f5c;
  --colors-light-accent: #dfd9e2;
  --colors-light-success: #6ba292;
  --colors-light-background: #fcfffc;
}

body {
  background-color: var(--colors-light-background);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}

.host {
  display: grid;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}
