/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --colors-black: #25283d;
  --colors-red: #f34213;
  --colors-purple: #8f3985;
  --colors-green: #6ba292;
  --colors-white: #fcfffc;
}

body {
  background-color: var(--colors-white);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
