.colors__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-height: 50vh;
}

.colors__container div {
    display: grid;
    justify-content: center;
    align-items: center;
    color: burlywood;
    text-transform: capitalize;
}

.colors__container :nth-child(1) {
    background-color: var(--colors-light-foreground);
}
.colors__container :nth-child(2) {
    background-color: var(--colors-light-alert);
}
.colors__container :nth-child(3) {
    background-color: var(--colors-light-accent);
}
.colors__container :nth-child(4) {
    background-color: var(--colors-light-success);
}
.colors__container :nth-child(5) {
    background-color: var(--colors-light-background);
}
